<h2> Our Menu </h2>
<a href="/foods/new"> New Food Item ?</a>

<table>
	<th> Name</th>
	<th> Cuisine Type</th>
	<th> Calories </th>
	<th> Price </th>
	<% @foods.each do |food| %>
	<tr>
		<td><a class="food" href="/foods/<%= food.id %>">
			<%= food.name %></a></td>
		<td><%= food.cuisine_type %></td>
		<td><%= food.calories %></td>
		<td>$<%= food.price %></td>                                                               
		<% end %>
	</tr>
</table>

<a href="/restaurants">Main Page</a>
<a href="/parties">Party Section</a>