<h2> List of Orders </h2>

<a href="/parties"> Select Party To Make New Order </a>

<table>
	<th> Order ID </th>
	<th> Table Number </th>
	<th> Food Type </th>
	<th> Payment </th>
	<th> Payment Status </th>
	<% @orders.each do |order| %>
	<tr>
		<td><%= order.id %></td>
		<td><%= order.food.name %></td>
		<td><%= order.food.calories %></td>
		<td>$<%= order.food.price %></td> 
		<td><%= 
		order.party.try(:pay_status)
						if order.party.try(:pay_status) == TRUE
							"Paid"
						else 
							"Unpaid"
						end %></td>                                                     
		<% end %>
	</tr>
</table>

<a href="/restaurants">Main Page</a>
<a href="/parties">Party Section</a>